@model JobTrackingApp.WebUI.ViewModels.UserLoginViewModel

@{
    ViewBag.Title = "Job Trackin App - Kullanıcı Giriş";
    Layout = "_StandartLayout";
}

<h4 class="display-4 mx-auto text-center">Kullanıcı Giriş</h4>
<hr>
<form asp-action="Login" asp-controller="Home" method="post" class="w-25 mx-auto p-3 shadow my-5">

    <div class="form-group">
        <label asp-for="UserName" class="col-form-label"></label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-form-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check">
            <input asp-for="RememberMe" class="form-check-input"/>
            <label asp-for="RememberMe" class="form-check-label"></label>
            <span asp-validation-for="RememberMe" class="text-danger"></span>
        </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-sm btn-outline-primary">Giriş Yap</button>
    <a asp-action="Register" asp-controller="Home" class="btn btn-sm btn-outline-secondary float-right">Kayıt Ol</a>
</form>
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}
